body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #6C6C6C;
}
.container {
    max-width: 1160px;
    margin: 0 auto
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.grid-item {
    padding: 0 15px;
    box-sizing: border-box;
}
[class^="grid-column"]{
    padding: 0 15px;
}
.grid-column-1 {
    grid-column: span 1;
}
.grid-column-3 {
    grid-column: span 3;
}

.grid-column-2 {
    grid-column: span 2;
}
.grid-column-4 {
    grid-column: span 4;
}
.grid-column-5 {
    grid-column: span 5;
}
.grid-column-6 {
    grid-column: span 6;
}
.grid-column-7 {
    grid-column: span 7;
}
.grid-column-8 {
    grid-column: span 8;
}
.grid-column-9 {
    grid-column: span 9;
}
.grid-column-10 {
    grid-column: span 10;
}
.grid-column-11 {
    grid-column: span 11;
}
.grid-column-12 {
    grid-column: span 12;
}

.custom-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #E02C6D;
    padding: 10px 26px;
    display: inline-block;
    transition: all .4s;
}
.custom-button:hover {
    box-shadow:  0px 0px 50px #000
}
.custom-button i {
    margin-right: 10px;
}
.custom-button.icon-after i {
    margin-right: 0;
    margin-left: 10px;
}

/* Header */
header {
    background-color: #2D25A0;
    padding: 40px 0;
}
header .custom-button i {
    transform: rotate( -90deg );
}
.menu ul{
    display: flex;
}
.menu ul li{
    padding-right: 36px;
}
.menu ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all .4s;
}
.menu ul li a:hover,
.menu ul li a.active {
    color: #E02C6D;
}

/* Banner Section */
#banner-section {
    background-color: #2D25A0;
    padding-top: 10px;
    padding-bottom: 80px;
}
#banner-section:hover .custom-button{
    animation: button-move 2s infinite
}
#banner-section:hover .banner-img img{
    
    animation: zoom 5s infinite
}
@keyframes button-move {
    0% {margin-left: 0px;}
    50% {margin-left: 15px;}
    100% {margin-left: 0px;}
  }
@keyframes zoom {
    0% {transform: scale(1);}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
  }
.banner-content h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 0;
    padding-right: 20px;
    margin-bottom: 15px;
}

/* Player Section */
.player-item {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    padding-bottom: 32px;
    cursor: pointer;
}
.player-item h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin: 0;
    margin-bottom: 18px;
    transition: all .4s;
}
.player-item:hover h2{
    color: #E02C6D
}
.player-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin: 0;
    padding-right: 2px;
}
.player-image {
    overflow: hidden;
    margin-bottom: 16px;
}
.player-image img {
    display: block;
    transition: all .4s;
}
.player-item:hover img{
    transform: scale(1.5) rotate(20deg);
}
#player-section {
    padding-top: 70px;
    padding-bottom: 40px;
}

/* highlights Section */
#highlight-section {
    padding: 95px 0;
}
.highlight-content {
    padding-right: 95px;
}
.highlight-content h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    margin: 0;
    margin-bottom: 5px;
}
.highlight-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin: 0;
    padding-right: 50px;
    margin-bottom: 23px;
}
/* Footer */
footer {
    padding-top: 55px;
    padding-bottom: 70px;
}
.footer-logo {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.social-profiles {
    margin-bottom: 25px;
}
.social-profiles li {
    display: inline-block;
    margin-right: 14px;
}
.social-profiles li:last-child {
    margin-right: 0;
}

.social-profiles li a{
    background-color: rgba(11, 13, 23, 0.1);
    width: 32px;
    height: 32px;
    line-height: 33px;
    display: inline-block;
    color: #969BAB;
    border-radius: 100px;;
    transition: all .4s;
}
.social-profiles li a:hover{
    background-color: #E02C6D;
    color: #fff;
}
.copyright-text{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.mobile-bar i {
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    display: none;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .grid-column-t-6{
        grid-column: span 6;
    }
    .grid-column-t-9{
        grid-column: span 9;
    }
    .grid-column-t-3{
        grid-column: span 3;
    }
    .menu ul li {
        padding-right: 20px;
    }
    .banner-content h1 {
        font-size: 45px;
        line-height: 60px;
    }
    .highlight-content {
        padding-right: 0;
    }
    .highlight-content h3 {
        font-size: 35px;
        line-height: 45px;
    }
}
/* mobile */
@media (max-width: 767px) {
   .grid-column-m-12{
        grid-column: span 12;
    }
    .grid-column-m-6 {
        grid-column: span 6;
    }
    .footer-logo {
        max-width: 70%;
    }
    .menu ul li {
        padding-right: 20px;
    }
    .banner-content h1 {
        font-size: 40px;
        line-height: 55px;
    }
    .highlight-content {
        padding-right: 0;
        margin-bottom: 30px
    }
    .highlight-content h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .banner-content {
        margin-bottom: 50px;
    }
    .player-item {
        margin-bottom: 24px;
    }
    #highlight-section {
        padding: 50px 0;
    }
    #player-section {
        padding-bottom: 0px;
    }  
    .mobile-bar i {
        display: block;
    } 
    .menu ul {
        display: block;
    }
    .menu {
        position: absolute;
        background-color: gray;
        width: 300px;
        left: 15px;
        padding: 20px;
        margin-top: 10px;
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s;
    }
    .menu.on {
        opacity: 1;
        visibility: visible;
    }
}